version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: veerrza_user
      POSTGRES_PASSWORD: veerrza_password
      POSTGRES_DB: veerrza_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U veerrza_user -d veerrza_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend-network

  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./staticfiles:/app/staticfiles
    environment:
      - DEBUG=0
      - DATABASE_URL=postgres://veerrza_user:veerrza_password@db:5432/veerrza_db
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - backend-network
    command: >
      sh -c "
      echo 'Waiting for PostgreSQL...' &&
      while ! nc -z db 5432; do sleep 1; done &&
      echo 'Applying migrations...' &&
      python manage.py migrate &&
      echo 'Collecting static files...' &&
      python manage.py collectstatic --noinput &&
      echo 'Starting Gunicorn...' &&
      gunicorn veerrzastore.wsgi:application --bind 0.0.0.0:8000 --workers 2
      "

volumes:
  postgres_data:

networks:
  backend-network:
    driver: bridge
