.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: all ease 0.3s;
    padding: 15px;
    width: 550px;

    &:hover {
        scale: 1.02;
    }

    .link {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        transition: all ease 0.3s;

        &__img {
            height: 630px;
            width: 550px;
        }

        &__price {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: #4e4e4e;
            align-items: center;
            margin: 10px 0;
        }

        &__section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 0;
        }

        &__title {
            font-size: 24px;
            font-weight: 600;
            margin: 15px 0 0 0;
        }

        &__button {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            width: 100%;
            padding: 12px;
            font-size: 18px;
            border-radius: 5px;
            color: white;
            background: black;
            border: 1px solid black;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: white;
                color: black;
            }
        }
    }
}

@media (max-width: 1024px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 90%;
        height: 100%;
        max-width: 450px;
        justify-content: start;

        .link {
            &__img {
                height: auto;
                max-width: 100%;
                object-fit: contain;
            }

            &__title {
                font-size: 20px;
            }

            &__price {
                font-size: 16px;
            }

            &__button {
                font-size: 14px;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 700px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .card {
        width: 95%;
        max-width: 350px;
        padding: 10px;

        .link {
            &__img {
                width: 100%;
                height: auto;
            }

            &__title {
                font-size: 16px;
                text-align: center;
            }

            &__price {
                font-size: 14px;
                text-align: center;
            }

            &__button {
                font-size: 14px;
                padding: 8px;
            }
        }
    }
}
