.clock {
    width: 200px;
    height: 200px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: relative;
    background: #3d3d3d;
    margin: 20px auto;
}

.hand {
    position: absolute;
    width: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(90deg);
    transition: transform 0.05s linear;
}

.hand.hour {
    height: 4px;
    background: #fff;
    width: 35%;
}

.hand.minute {
    height: 3px;
    background: #fff;
    width: 45%;
}

.hand.second {
    height: 2px;
    background: orange;
    width: 45%;
}

.center {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
