.product {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media (max-width: 768px) {
        gap: 15px;
    }
}

.gallery {
    display: flex;
    gap: 15px;

    @media (max-width: 768px) {
        align-items: center;
    }

    &__img {
        width: 700px;
        height: 700px;
        object-fit: cover;
        cursor: pointer;

        @media (max-width: 1024px) {
            width: 450px;
            height: 450px;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    &__thumbnails {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 768px) {
            gap: 10px;
            flex-direction: row;
            overflow-x: scroll;
            justify-content: flex-start;
            overflow-x: auto;
            max-width: 300px;
            padding-right: 10px;
            scrollbar-width: thin;
            scrollbar-color: #888 #ddd;
        }

        .thumbnail {
            width: 100px;
            height: 170px;
            object-fit: cover;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.3s;
            border-radius: 5px;

            &.thumbnail_active {
                border-color: black;
            }

            &:hover {
                border-color: rgb(0, 0, 0);
            }

            @media (max-width: 768px) {
                width: 70px;
                height: 100px;
            }
        }
    }
}

.details {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1024px) {
        width: 90%;
    }

    &__title {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__price {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
        margin: 15px 0 0 0;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__cart {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            width: 100%;
            transition: all ease 0.3s;
            color: white;
            border: 1px solid black;
            font-size: 18px;
            border-radius: 5px;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .additional {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__title {
            background: none;
            font-size: 18px;
            font-weight: 500;
            color: #333;
            cursor: pointer;
            padding: 10px 0;
            text-align: left;
            width: 100%;
            position: relative;
            transition: all ease 0.3s;

            &:hover {
                color: black;
                transform: translateY(-2px);
                font-weight: 500;
            }

            .arrow {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: 8px;
                height: 8px;
                border: solid #333;
                border-width: 0 2px 2px 0;
                display: inline-block;
                transition: transform 0.3s ease;
            }

            &.open .arrow {
                transform: translateY(-50%) rotate(-135deg);
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        &__content {
            padding-left: 15px;
            font-size: 16px;
            color: #555;
            animation: fadeIn 0.3s ease-in-out;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            li {
                padding-left: 15px;
                margin-bottom: 5px;
            }

            ol,
            ul {
                padding-left: 15px;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &__thumbnails {
            justify-content: center;
        }
    }

    .details {
        width: 100%;
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    &__img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }
}
