.sliderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.arrowLeft,
.arrowRight {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    position: absolute;
    z-index: 10;
    padding: 0;
}

.arrowLeft {
    left: 10px;

    @media (max-width: 768px) {
        left: -15px;
    }
}

.arrowRight {
    right: 10px;

    @media (max-width: 768px) {
        right: -15px;
    }
}

.sliderContainer {
    width: 80%;
    overflow: hidden;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 600px;
    width: 100%;
    object-fit: cover;

    @media (max-width: 1024px) {
        height: 500px;
    }

    @media (max-width: 768px) {
        height: 400px;
    }

    @media (max-width: 480px) {
        height: 300px;
    }
}

.overlayText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-9deg);
    font-size: 10rem;
    font-weight: bold;
    color: white;
    z-index: 5;
    text-shadow: 2px 8px 10px rgba(0, 0, 0, 1);

    @media (max-width: 1024px) {
        font-size: 7rem;
    }

    @media (max-width: 768px) {
        font-size: 5rem;
        top: 40%;
    }

    @media (max-width: 480px) {
        font-size: 3rem;
    }
}
