.sliderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrowLeft,
.arrowRight {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    position: absolute;
    z-index: 10;
    padding: 0;
}

.arrowLeft {
    left: 0;
    cursor: pointer;
}

.arrowRight {
    right: 0;
    cursor: pointer;
}

.sliderContainer {
    width: 80%;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 600px;
    width: 95%;
    object-fit: cover;
}

.overlayText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-9deg);
    font-size: 10rem;
    font-weight: bold;
    color: white;
    z-index: 5;
    text-shadow: 2px 8px 10px rgba(0, 0, 0, 1);
}
